.commentary{
    display: flex;
    justify-content: space-between;
}

.content-post{
    margin-left: -1rem;
    height: auto;
}

.content-post .post{
    width: 90%;
}

.commentary-list{
    border: 1px solid black;
    width: 27rem;
    max-width: 40rem;

    height: 36rem;

    overflow-y: scroll;

    /* margin-bottom: 1rem; */
}

.user-info-right {
    padding-top: .2rem;
}
.user-name {
    font-weight: bold;
}

.comment {
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
    
    padding: 1.1rem 1.1rem 0 1.1rem;

    border: 1px solid #e6ecf0;
    color: rgb(20, 23, 26);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #ffffff;
    overflow: hidden;

    margin-bottom: 1rem;
}

.comment-content {
    padding-top: .6rem;
    font-size: 1.2rem;
    clear: left;
    padding-bottom: 1.2rem;
}

.comment .avatar-container {
    margin-right: 1rem;
    float: left;
}
.comment .avatar {
    height: 3rem;
    width: 2.8rem;
    border-radius: 50%;
    cursor: pointer;
}

/* .bottom-buttons {
    display: flex;
    flex-direction: row;
}
.bottom-buttons {
    height: 48px;
    width: 48px;
    display: flex;
    cursor: pointer;
    flex: 0 25%;
    box-sizing: border-box;
}
.bottom-button > div {
    display: flex;
    align-items: center;
    height: 100%;
}
.bottom-buttons img {
    padding: 7px;
    margin: auto;
    fill: rgb(101, 119, 134);
    height: 22px;
    width: 27px;
    margin-left: 4px;
    transition: 0.2s;
}

.bottom-buttons .like{
    display: flex;
    align-items: center;
}

Images

.image-container {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.image-container img {
    border-radius: 13px;
    border: 1px solid #ccd6dd;
    width: 100%;
}
.images-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 318px;
    border-radius: 13px;
    border: 1px solid #ccd6dd;
}
.images-container img {
    cursor: pointer;
}
.full-height-image {
    width: calc(50% - 1px);
    height: 100%;
    overflow: hidden;
}
.full-height-image img {
    height: 100%;
    min-width: 100%;
}
.left-image {
    float: left;
}
.half-height-image {
    height: 158px;
    overflow: hidden;
}
.half-height-image img {
    width: 100%;
    min-height: 158px;
}
.images-container .right-col, .left-col {
    float: left;
    width: calc(50% - 1px);
    height: 100%;
}
.images-container .horizontal-spacer {
    height: 2px;
    overflow: hidden;
}
.vertical-spacer {
    width: 2px;
    height: 100%;
    float: left;
}


.comment svg {
    box-sizing: content-box !important;
    vertical-align: baseline !important;
} */
