.inputComment{
    margin-top: -20px;
    margin-bottom: 23px;
}

.inputComment form{
    display: flex;
}

.inputComment input{
    width: 450px;
    height: 50px;
    /* border-color: rgb(206, 205, 205); */

    font-size: 17px;
}

.inputComment button{
    height: 55px;
    width: 100px;
    font-size: 16px;
    font-weight: 700;

    background-color: rgb(0, 255, 149);
    border-color: rgb(206, 205, 205);

    cursor: pointer;
}