

.formulary{
    font-size: 1.4rem;

    margin-top: 7rem;
    margin-left: 31.5%;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f0f2f5;
    border: .2rem solid #9BB8A7;

    display: grid;
    width: 30rem;
    height: 25rem;
    text-align: center;
}

.formulary input, .formulary button{
    font-size: 1.4rem;

    margin-left: 13%;

    width: 70%;
    height: 4.2rem;
    padding: .1rem;
    margin-bottom: 0.5rem;
}

.formulary button{
    font-weight: 700;

    width: 71%;
    background-color: #74FDAC;
    border: none;
    cursor: pointer;

    color: rgb(48, 48, 48);
}

.formulary button:hover{
    background-color: #61d491;
}

.formulary span{
    color: #13b903;
    cursor: pointer;
}