

.formulary{
    font-size: 20px;

    margin-top: 10rem;
    margin-left: 31.5%;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    display: grid;
    width: 500px;
    height: 400px;
    text-align: center;
}

.formulary input, .formulary button{
    font-size: 20px;

    margin-left: 13%;

    width: 70%;
    height: 60px;
    padding: 1px;
    margin-bottom: 2px;
}

.formulary button{
    width: 71%;
}

.formulary span{
    color: rgb(255, 94, 36);
    cursor: pointer;
}