.navbar .options{
    padding-top: 1.6rem;
    padding-left: 1.2rem;
}

.navbar .options .link{
    padding: 3px;
    margin-bottom: 1rem;
    width: 70%;
    
    border: 2px solid rgb(126, 126, 126);
    border-radius: 15px;
    font-size: 1.2rem;
    
}

.navbar .options .link:hover{
    background-color: rgb(214, 214, 214);
}

.navbar .options .link{
    color: #000;
}

.navbar .options .link.exit{
    color: rgb(235, 6, 6);
}