.navbar .options{
    padding-top: 20px;
    padding-left: 15px;
}

.navbar .options input, .navbar .options .link{
    padding: 3px;
    margin-bottom: 10px;
    width: 70%;
    
    border: 2px solid rgb(126, 126, 126);
    border-radius: 15px;
    font-size: 19px;
    
}