/* .content{
    padding: 0;
} */

.profile{
    height: 100%;
    width: 100%;
}

.profileHeader{
    text-align: center;
}

.profile .profileInfo{
    display: inline-block;
    line-height: 3rem;
}

.profile .profileInfo .avatar {
    height: 15.5rem;
    width: 15.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.profile .buttons {
    margin-left: 1rem;
}

.profile .buttons p{
    background-color: rgb(127, 236, 255);
    border: 2px solid rgb(129, 129, 129);

    width: 5rem;
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: 700;

    color: black;
}

.profile .buttons .settings-button{
    background-color: rgb(127, 236, 255);
}

.profile .buttons .talk-button{
    background-color: rgb(127, 255, 159);
}

.profile hr{
    margin-bottom: 2rem;
}

.profile .allPost{
    padding-left: 1rem;
}