/* .content{
    padding: 0;
} */

.profile{
    height: 100%;
    width: 100%;
}

.profileHeader{
    text-align: center;
}

.profile .profileInfo{
    display: inline-block;
    line-height: 50px;
}

.profile .profileInfo .avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    cursor: pointer;
}

.profile .buttons {
    margin-left: 10px;
}

.profile .buttons p{
    background-color: rgb(127, 236, 255);
    border: 2px solid rgb(129, 129, 129);

    width: 80px;
    padding: 8px;
    font-size: 19px;
    font-weight: 700;

    color: black;
}

.profile .buttons .settings-button{
    background-color: rgb(127, 236, 255);
}

.profile .buttons .talk-button{
    background-color: rgb(127, 255, 159);
}

.profile hr{
    margin-bottom: 40px;
}

.profile .allPost{
    padding-left: 10px;
}